<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Two Divs with Leaflet Map</title>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <div class="info-box">
            <h2 id="top_line">Click on a Country!</h2>
            <img id="flag_img" src="" alt="">
            <table id="info_table">
                <thead>
                    <tr>
                        <th>Flag</th>
                        <th>Domain</th>
                        <th>Phone</th>
                        <th>Driving Side</th>
                        <th>Currency</th>
                    </tr>
                </thead>
                <tbody id="info_table_body"></tbody>
            </table>

            <div id="image_grid" class="image-grid">

            </div>

        </div>

        <div id="map"></div>
    </div>

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="{{ url_for('static', filename='js/map.js') }}"></script>
</body>
</html>
